
.vs/slnx.sqlite

*.vsidx

Module4_PortfolioMilestone/Mod4_PortfolioApp/.vs/Mod4_PortfolioApp/v17/

Module4_PortfolioMilestone/Mod4_PortfolioApp/__pycache__/ItemToPurchase.cpython-311.pyc

Module3_CriticalThinking/Mod3CriticalThinkingProgram/.vs/Mod3CriticalThinkingProgram/v17/.suo
